@import '/src/style/var/index.less';

.header {
  display: flex;
  height: @header-height;
  padding: 5px 0;
  margin-left: 0px;
  line-height: @header-height;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
  border-bottom: 1px solid var(--header-border-color);
  color: var(--text-color);

  &-left {
    display: flex;
    height: 100%;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
      height: @header-height;
      font-size: 1.2rem;
      line-height: @header-height;

      &:hover {
        background-color: var(--header-bg-hover-color);
      }
    }
  }

  &-action {
    display: flex;
    min-width: 180px;
    align-items: center;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
      height: @header-height;
      font-size: 1.2rem;

      &:hover {
        background-color: var(--header-bg-hover-color);
      }
    }
  }
}
