.multiple-tabs {
  height: 31px;
  .el-tabs {
    --el-tabs-header-height: 30px;
    vertical-align: middle;
  }

  .el-tabs__header {
    margin: 0px;
    border-bottom: 1px solid var(--header-border-color);

    .el-tabs__nav {
      // 重置边框样式
      border: 0px;
      border-right: 1px solid var(--header-border-color);
    }
  }

  .el-tabs__item > .el-tabs__item__content {
    height: var(--el-tabs-header-height);
    line-height: var(--el-tabs-header-height);
    display: inline-block;
    list-style: none;
    font-size: var(--el-font-size-base);
    font-weight: 500;
    color: var(--text-color);
    position: relative;
  }

  .el-tabs__content {
    height: 0px;
    width: 0px;
    padding: 0px;
  }

  .el-tabs--card > .el-tabs__header .el-tabs__item {
    border-bottom: 0px solid transparent;
    border-left: 1px solid var(--header-border-color);
  }
}
