:root {
  --dark-color: #c9d1d9;
  --light-color: rgba(0, 0, 0, 0.45);
  --dark-background-color: #000;

  // sider
  --sider-light-bg-color: #001529;
  --sider-dark-bg-color: #212121;
  --sider-children-light-bg-color: #0c2135;
  --sider-children-dark-bg-color: #2d2d2d;

  // header
  --header-dark-bg-color: #151515;
  --header-dark-bg-hover-color: #242424;
  --header-light-bg-color: #ffffff;
  --header-light-bg-hover-color: #f6f6f6;
}

html {
  &[data-theme='light'] {
    color: var(--light-color);
    --sider-bg-color: var(--sider-light-bg-color);
    --sider-children-bg-color: var(--sider-children-light-bg-color);
    --header-bg-color: var(--header-light-bg-color);
    --header-bg-hover-color: var(--header-light-bg-hover-color);
  }

  &[data-theme='dark'] {
    body {
      color: var(--dark-color);
      background-color: var(--dark-background-color);
      --sider-bg-color: var(--sider-dark-bg-color);
      --sider-children-bg-color: var(--sider-children-dark-bg-color);
      --header-bg-color: var(--header-dark-bg-color);
      --header-bg-hover-color: var(--header-dark-bg-hover-color);
    }
  }
}
