@import './var/index.less';
@import './element/index.less';
@import './transition/index.less';
@import './public.less';
@import './theme.less';

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: initial;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.text-sub {
  color: var(--text-sub-color);
}
