@import '/src/style/var/index.less';

.header {
  display: flex;
  height: @header-height;
  padding: 5px;
  margin-left: 0px;
  line-height: @header-height;
  color: black;
  background-color: @white;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
  border-bottom: 1px solid rgb(231, 231, 231);

  &-left {
    display: flex;
    height: 100%;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
      height: @header-height;
      font-size: 1.2rem;
      color: black;
      line-height: @header-height;
      
      &:hover {
        background-color: #f6f6f6;
      }
    }
  }

  &-action {
    display: flex;
    min-width: 180px;
    align-items: center;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
      height: @header-height;
      font-size: 1.2rem;
      color: black;
      line-height: @header-height;

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
}
